################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/DoMoreDaily/FileContentIndex
/DMD.Backend/DMD.WebAPI/.vs/DMD.Backend/FileContentIndex
